<div class="auth-container">
    <mat-card class="auth-card" appearance="outlined">
        <mat-card-title class="auth-text">Create an account</mat-card-title>
        <mat-card-content>
            <form>
                <mat-label>Name:</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput type="text" placeholder="Enter your name" required />
                </mat-form-field>

                <mat-label>Email:</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput type="email" placeholder="example@example.com" required />
                </mat-form-field>

                <mat-label>Password:</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput type="password" placeholder="Enter your password" required />
                </mat-form-field>

                <button mat-raised-button color="primary" class="full-width">Register</button>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <mat-label>Already have an account?</mat-label>
            <a routerLink="/auth/login" class="auth-link">Login</a>
        </mat-card-actions>
    </mat-card>
</div>
