<h2 mat-dialog-title class="heading-xl text-center">{{ 'SPLIT.TITLE' | translate }}</h2>

<mat-dialog-content>
  <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event.index)">
    <mat-tab [label]="'SPLIT.EQUALLY' | translate">
      <div class="tab-content">
        <mat-checkbox *ngFor="let member of members" [(ngModel)]="equalSplitSelection[member.id]"
                      [attr.aria-label]="'SPLIT.INCLUDE_IN_SPLIT' | translate: { name: member.name }">
          {{ member.name }}
        </mat-checkbox>
      </div>
    </mat-tab>

    <mat-tab [label]="'SPLIT.BY_AMOUNT' | translate">
      <div class="tab-content">
        <div *ngFor="let member of members" class="split-input-row">
            <span class="member-name">{{ member.name }}</span>
            <mat-form-field class="member-input" appearance="fill">
              <mat-label>{{ 'SPLIT.AMOUNT_FOR' | translate: { name: member.name } }}</mat-label>
              <input matInput type="number" [(ngModel)]="member.amount" appPositiveNumber/>
            </mat-form-field>
          </div>
      </div>
    </mat-tab>

    <mat-tab [label]="'SPLIT.BY_PERCENTAGE' | translate">
      <div class="tab-content">
        <div *ngFor="let member of members" class="split-input-row">
            <span class="member-name">{{ member.name }}</span>
            <mat-form-field class="member-input" appearance="fill">
              <mat-label>{{ 'SPLIT.PERCENTAGE_FOR' | translate: { name: member.name } }}</mat-label>
              <input matInput type="number" [(ngModel)]="member.amount" appPercentage/>
            </mat-form-field>
          </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<div class="split-error-banner" *ngIf="validationError" role="alert">
  <mat-icon color="warn">error_outline</mat-icon>
  <span>{{ validationError }}</span>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'COMMON.CANCEL' | translate }}</button>
  <button mat-flat-button color="primary" (click)="confirmSplit()" [attr.aria-label]="'SPLIT.CONFIRM' | translate">{{ 'COMMON.OK' | translate }}</button>
</mat-dialog-actions>
