<div class="create-group-form">
    <div class="form-container">
      <form [formGroup]="createGroupForm" class="form-group-container" (ngSubmit)="onSubmit()">
        
        <mat-label>Group Name</mat-label>
        <mat-form-field appearance="fill">
          <input matInput formControlName="name" required />
        </mat-form-field>
  
        <mat-label>Description</mat-label>
        <mat-form-field appearance="fill">
          <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
  
        <!-- Group Members -->
      <mat-label>Group Members</mat-label>
      <mat-form-field appearance="fill">
        <mat-select formControlName="members" multiple>
          <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Checkbox for deleting expenses -->
       <div class="allow-delete-expenses">
        <mat-checkbox formControlName="allowToDeleteExpenses" [checked]="false"></mat-checkbox>    
        <mat-label>Allow All to Delete Expenses</mat-label>    
       </div>

        <mat-label>Currency</mat-label>
        <mat-form-field appearance="fill">
          <mat-select formControlName="currencyId" required>
            <mat-option *ngFor="let currency of currencies" [value]="currency.id">
              {{ currency.name }} ({{ currency.symbol }})
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <div class="action-buttons">
          <button mat-icon-button (click)="close()">
            <mat-icon  class="button-icon-color">cancel</mat-icon>
          </button>
          <button mat-icon-button type="submit">
            <mat-icon  class="button-icon-color">save</mat-icon>
          </button>
        </div>
        
    </form>
    </div>
  </div>
  