<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>

<h2 mat-dialog-title>Add Expense</h2>

<mat-dialog-content>
  <form [formGroup]="expenseForm">

    <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="expenseForm.get('title')?.hasError('required')">Title is required.</mat-error>
        <mat-error *ngIf="expenseForm.get('title')?.hasError('maxlength')">Title must be at most 100 characters.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Notes</mat-label>
        <textarea matInput formControlName="note" rows="1"></textarea>
        <mat-error *ngIf="expenseForm.get('note')?.hasError('maxlength')">Notes must be at most 500 characters.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width-field">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount" appPositiveNumber/>
      <mat-error *ngIf="expenseForm.get('amount')?.hasError('required')">Amount is required.</mat-error>
      <mat-error *ngIf="expenseForm.get('amount')?.hasError('min')">Amount must be greater than 0.</mat-error>
      <mat-error *ngIf="expenseForm.get('amount')?.hasError('max')">Amount must be at most 1,000,000.</mat-error>
    </mat-form-field>

    <div class="datepicker-section">
        <button #dateButton mat-button (click)="openDatepicker()" class="datepicker-btn" type="button" aria-label="Select date">
            <mat-icon>calendar_month</mat-icon>
            {{ selectedDate | date: 'mediumDate' }}
          </button>

          <input
            #hiddenDateInput
            matInput
            [matDatepicker]="picker"
            [value]="selectedDate"
            (dateChange)="onDateChange($event)"
            readonly
            class="hidden-datepicker-input"
          />

          <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="split-expense-info" *ngIf="!isLoading && members.length > 0">
        <span>Paid by</span>
        <mat-select formControlName="paidById" panelClass="wide-select-panel" aria-label="Paid by">
            <mat-option *ngFor="let member of members" [value]="member.id">
                {{ member.name }}
            </mat-option>
        </mat-select>

        <span>and split</span>
        <span class="split-method-button" (click)="openSplitMethod()" role="button" tabindex="0" (keydown.enter)="openSplitMethod()" aria-label="Choose split method">
          {{ splitMethodLabel }}
        </span>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="expenseForm.invalid || isSaving"
    (click)="saveExpense()"
    aria-label="Save expense"
  >
    Save
  </button>
</mat-dialog-actions>
